# Local App URL ... Change to Production URL when deployed
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Main Woocom Backend URL
NEXT_PUBLIC_BACKEND_URL=https://dockbloxx.mystagingwebsite.com

# WooCommerce API Authentication Keys [DEV & PRODUCTION]
WOOCOM_CONSUMER_KEY=ck_73edd****************21580d7da4c4e6
WOOCOM_CONSUMER_SECRET=cs_a*****************40f85657999172


# STRIPE INFO [MOOSE]
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Q*********2wMvn00FmEKheXy
STRIPE_SECRET_KEY=sk_test_51QsxN9GbwNBR3bzv8Ur**********ZDWP00FZ89rXmj